{% extends "main.html" %}

{% block styles %}
    {{ super() }}
    {% set title = config.site_name %}
    <link rel="stylesheet" href="./assets/stylesheets/extra.css">
    <style>
        icons {
            width: 50%; /*image width*/
            float: left; /*image position*/
        }
        p.groove {border-style: groove;}
    </style>
{% endblock %}
{% block content %}
<body class="is-boxed has-animations" style="padding: 0px;">
    <!-- <div class="body-wrap"> -->
        <!-- <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<img style="" class="header-logo-image" src="./assets/images/logo.png" alt="Logo" width="100px" height="100px">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header> -->
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 style="color: aliceblue; font-size: 40px;" class="hero-title mt-0">KochiOrgBook</h1>
	                        <p style="color: azure;" class="hero-paragraph">Digital Trust Ecosystem project for the city of Kochi.</p>
                            <div class="hero-cta"><a class="button button-primary" href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}">Learn more</a>
                                <!-- <a href="{{ 'blue_print/' | url }}" title="KOB Blue Print" class="md-button">
                                    KOB Blue Print
                                  </a> -->
                            </div>
                            <!-- <div class="hero-cta"><a class="button button-primary" href="{{ 'test/' | url }}" title="Test">Test</a></div> -->
						</div>
                   </div>
                </div>
                
            </section>
            
            <div class="container">
            <div class="hero-inner">
            <p style="text-align: center;color: white; font-size: 25px;" >KochiOrgBook(KOB) is a community initiative focused on building a digital ecosystem for the various associations in Kochi. </p>
            </div>
            <br><br><br><br><br><br>
            <h2 style="text-align: center;font-size: 30px;">Our Stakeholders and what we provide for them</h2>
            
            <!-- <p>
                <div style="margin-right:30px;float: left;">
                    <div style="align-items: center;">
                        <img src="./assets/images/associations.png" alt="Pineapple">
                        <h4 class="feature-title mt-24">Associations in Kochi</h4>
                    </div>

                </div>
    
                <ul style="text-align: left;color: white;">
                    <li>Ease in proving your membership through credential exchange</li>
                    <li>Enabling them to host their digital services </li>
                    <li>Enable them to issue and verify digital credentials with ease</li>
                    <li>Offer flexibility to host Association Wallet on community cloud</li>
                    <li>Onboard and manage members with ease</li>
                    <li>Transparent and secure credential exchanges</li>
                    <li>Privacy preserving</li>
                    <li>Data protection by desing and default</li>
                    <li>Openness and interoperability</li>
                </ul>
            </p> -->

            <!-- Associations -->
            
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="./assets/images/associations.png" alt="Feature 01">
                        </div>
                        <h4 class="feature-title mt-24">Associations in Kochi</h4>
                    </div>
                </div>
            </div>
            <p>
                <ul style="text-align: left;color: white;">
                    <!-- <li>Ease in proving your membership through credential exchange</li> -->
                    <!-- <li>Enabling them to host their digital services </li> -->
                    <li>Issue and verify digital credentials</li>
                    <li>Offer flexibility to host Association Wallet on community cloud</li>
                    <li>Onboard members and manage memberships thorugh credential exchange</li>
                    <li>Transparent and secure credential exchanges</li>
                    <li>Data protection and Privacy preserving by design and default</li>
                    <li>Openness and interoperability</li>
                    <li>Access to open-source libraries to manage the activities</li>
                    
                 
                </ul>
            </p>
            <!-- <p>
                <div style="margin-right:30px;float: left;">
                    <img style="padding-left: 55px;" src="./assets/images/citizens.png" alt="Pineapple">
                    <h4 style="padding-top: 3px; margin-right: 2cm;" class="feature-title mt-24">Citizens in Kochi</h4>
                </div>
    
                <ul style="text-align: left;color: white;">
                    <li>Privacy preserving</li>
                    <li>Complete control over your identity and your mobile wallet</li>
                    <li>Empowerment to manage your identity</li>
                    <li>Validate the identity of an individual or associations within the jurisdiction with ease</li>
                    <li>Consume trusted digital services</li>
                </ul>
            </p> -->
            
            <!-- Citizens -->
            
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="./assets/images/citizens.png" alt="Feature 01">
                        </div>
                            <h4 class="feature-title mt-24">Citizens in Kochi</h4>
                    </div>
                </div>
            </div>
            <p>
                <ul style="text-align: left;color: white;">
                    <li>Prove your identity using digital credential instead of paper</li>
                    <li>Privacy preserving</li>
                    <li>Share data safely and instantly</li>
                    <!-- <li>Complete control over your data</li> -->
                    <li>Complete control over your Digital Identity</li>
                    <li>Mobile wallet to manage digital credentials issued by associations</li>
                    <!-- <li>Empowerment to manage your identity</li> -->
                    <!-- <li>Validate the identity of an individual or associations within the jurisdiction with ease</li> -->
                    <li>Secure access to digital services</li>
                    <li>Get access to trusted and verified data</li>
                    <li>P2P exchange of data</li>
                    <li>Prove your member with associations in an instant</li>
                </ul>
            </p>

            <!-- DSP -->

            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="./assets/images/dsp.png" alt="Feature 01">
                        </div>
                        <h4 class="feature-title mt-24">Digital Service Providers</h4>
                    </div>
                </div>
            </div>
            <p>
                <ul style="text-align: left;color: white;">
                    <li>Unlock access to the citizens and associations in the jurisdiction</li>
                    <li>Make yourselves discoverable to a wider audiance</li>
                    <li>Provide secure digital services for the citizen and associations</li>
                    <li>Gain access to a platform to rapidly innovate and launch new digital services in a cost effective way</li>
                    <li>Increase the subscription for existing services</li>
                </ul>
            </p>

            <!-- Citizen Developers -->
            
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="./assets/images/citizen_developer.png" alt="Feature 01">
                        </div>
                        <h4 class="feature-title mt-24">Citizen Developers</h4>
                    </div>
                </div>
            </div>
            <p>
                <ul style="text-align: left;color: white;">
                    <li>Build your skills and contribute back to the community</li>
                    <li>Work towards enabling digital services</li>
                    <li>Gain experience and build credibility</li>
                    <li>Gain opportunity to work for various Associations/DSP in the jurisdiction</li>
                    <li>Access to a real time development environment</li>
                    <li>Gain access to a community of experts</li>
                    <li> Chance to learn about different libraries and tools</li>
                </ul>
            </p>

            </div>

            <!-- <div class="container">
                <h2 style="text-align: center;">What we provide for our Stakeholders</h2>
                <section class="features section">
                <div class="features-inner section-inner has-bottom-divider">
                    <div class="features-wrap">
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="./assets/images/associations.png" alt="Feature 01">
                                </div>
                                <h4 class="feature-title mt-24">For Associations</h4>
                                <ul style="text-align: left;">
                                    <li>
                                        Privacy
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="./assets/images/citizens.png" alt="Feature 01">
                                </div>
                                <h4 class="feature-title mt-24">Citizens of Kochi</h4>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="./assets/images/dsp.png" alt="Feature 01">
                                </div>
                                <h4 class="feature-title mt-24">Digital Service Providers</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
                </div>
             -->
            <div class="container">
                <h2 style="text-align: center;font-size: 30px;">Our Key Projects</h2>
            </div>
            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<!-- <img src="./assets/images/privacy.png" alt="Feature 01"> -->
                                    </div>
                                    <h4 class="feature-title mt-24"><a href="https://hyperledgerkochi.github.io/KOBPIU/" >KOBPIU</a></h4>
                                    <p class="text-sm mb-0" style="color: azure;">KOB Public Identity Utility(KOBPIU) is our underlying blockchain network for the jurisdiction</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<!-- <img src="./assets/images/ownership.png" alt="Feature 02"> -->
                                    </div>
                                    <h4 class="feature-title mt-24"><a href="https://hyperledgerkochi.github.io/KOBVON/" >KOBVON</a></h4>
                                    <p class="text-sm mb-0" style="color: azure;">KOBVON is a network of Verifiable Organisations registered with KOB.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<!-- <img src="assets/images/trust.png" alt="Feature 03"> -->
                                    </div>
                                    <h4 class="feature-title mt-24"><a href="https://hyperledgerkochi.github.io/KOBAW/" >KOBAW</a></h4>
                                    <p class="text-sm mb-0" style="color: azure;">KOB Association Wallet(KOBAW) is a decentralised wallet to store the VCs of associations registered with KOB.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<!-- <img src="assets/images/cloud.png" alt="Feature 04"> -->
                                    </div>
                                    <h4 class="feature-title mt-24"><a href="https://hyperledgerkochi.github.io/KOBConnect/" >KOBConnect</a></h4>
                                    <p class="text-sm mb-0" style="color: azure;">KOBConnect is the mobile wallet application where the citizens of Kochi can store their VCs.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<!-- <img src="assets/images/secure.png" alt="Feature 04"> -->
                                    </div>
                                    <h4 class="feature-title mt-24"><a href="https://hyperledgerkochi.github.io/KOBCC/" >KOBCC</a></h4>
                                    <p class="text-sm mb-0" style="color: azure;">KOB Community Cloud(KOBCC) is a dedicated cloud network for the associations to avail various hosted srevices. </p>
                                </div>
                            </div>
                            <!-- <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="assets/images/transform.png" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24">Contribute</h4>
                                    <p class="text-sm mb-0">We provide citizens of Kochi a chance to transform themselves to Open Source Contributors by contributing to our project and earn incentives from it.</p>
                                </div>
                            </div> -->
 
                            <!-- <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-05.svg" alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-06.svg" alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
        <hr style="color: grey;height: 2px;">
            <div style="color: white; text-align: center;">
                <p>Click on the button below to contribute</p>
                <a class="button button-primary" href="https://github.com/hyperledgerkochi/KochiOrgBook/issues">Contribute</a>
            </div>
    <!-- </div> -->
    <!-- {% block scripts %}
    <script src="./assets/javascripts/extra.js"></script>
    {% endblock %} -->
</body>
{% endblock %}
        <!-- <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">KochiOrgBook</h1>
	                        <p class="hero-paragraph">Digital Trust Ecosystem project for the city of Kochi.</p>
                            <div class="hero-cta"><a class="button button-primary" href="dist/images/icons8-cloud-50.png">Learn more</a></div>
						</div> -->

                        